
body {
  height: 2000px;
  margin: 0;
  font-family: "MyriadProRegular", sans-serif;
  color: #333333;
}
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
#central{
  display: block;
  margin: 30%;
}
.first-page{
  position: absolute;
  border: 2px solid #000;
  background-color: #acacac;
  width: 519px;
  height: 746px;
  margin: 39px 40px;
}
.first-stic{
  position: relative;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #000;
  background-color: #00aeef;
  width: 95px;
  height: 31px;
  top: 48px;
  left: 440px;
}
.second-page{
  position: absolute;
  border: 2px solid #000;
  background-color: #cccccc;
  width: 519px;
  height: 746px;
  margin: 20px 21px;
}
.second-stic{
  position: relative;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #000;
  background-color:  #39b54a;
  width: 95px;
  height: 31px;
  top: 43px;
  left: 472px;
}
.third-page{
  position: absolute;
  border: 2px solid #000;
  background-color: #ebebeb;
  width: 519px;
  height: 746px;
  padding-left: 33px;
  padding-right: 30px;
  box-sizing: border-box;
}
.third-stic{
  position: relative;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #000;
  background-color: #f68e56;
  width: 107px;
  height: 31px;
  top: 39px;
  left: 461px;
}
h1{
  font-size: 1.5em;
  font-weight: 400;
  margin-top: -4px;
}
article{
  font-size: 0.75em;
  font-weight: 400; 
}

img[src="images/cup.png"]{
  float: left;
  width: 207px;
  height: 111px;
  margin-right: 21px;
  margin-bottom: 17px;
}
img[src="images/papers.png"]{
  float: right;
  width: 140px;
  height: 140px;
}
article:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
h2{
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 0;
}
div img{
  width: 194px;
  height: 89px;
  margin-bottom: 14px;
}
img[src="images/ninja.png"], img[src="images/periodic.png"]{
  float: left;
}
img[src="images/titanic.png"], img[src="images/triangle.png"]{
  float: right;
}
section:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
footer p{
  font-size: 0.56em;
  font-weight: 400;
  text-align: center;
}
.bottom-right{
  position: fixed;
  top: 80%;
  right: 0;
  border: 1px solid #362f2d;
  background-color: #fbaf5d;
  width: 87px;
  height: 69px;
}
h3 {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin: 5%;
}
.bottom-right img{
  width: 79px; 
  height: 22px;
  margin: 5%;
}
